<!DOCTYPE html>
<html lang="eo">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>[[title]]</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <style> :root { --accent: green; }</style>
    </head>
    <body>
        <header>
            <h1>Mondo de kapreolido</h1>
            <nav>
                <a href="./basics..enhavo.html">Enhavo</a>
                <a href="./basics..index.html">Hejmo</a>
                <a href="">Plej nova artikolo</a>
            </nav>
        </header>

        <main>
            [[content]]
        </main>

        <footer>
            <p>
                Retpaĝo de kapreolido
            </p>
            <p>
                <!-- <a href="">RSS</a> -->
            </p>
        </footer>
    </body>
</html>
